.about-us-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.about-us-content {
    font-family: 'Yellowtail', "cursive" !important;
}

.about-us-points {
    margin-left: 27px;
}