.about-us-container {
    display: grid;
    padding: 75px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 1024px) {
    .about-us-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .about-us-container div:first-of-type {
        grid-row: span 2;
    }
}

.about-us-content {
    font-family: 'STIX Two Text', serif;
    font-size: 1.2rem;
    padding: 1rem;
}

.about-us-content-title {
    font-size: 2rem;
}

.about-us-points {
    margin-left: 27px;
}

.about-us-points-list {
    font-family: 'STIX Two Text', serif;
    font-size: 1.2rem;
}

.about-us-image {
    width: 100%;
    height: 100%;
}